@model Labo.ASP.Models.Forms.InjectionForm

@{
    ViewData["Title"] = "GetInjection";
}



<div>
    <h4>Injection numéro @Model.Id</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Numéro du patient
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>

        <dt class="col-sm-2">
            Nom du patient
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt class="col-sm-2">
            Date de l'injection
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendrierJour)
        </dd>

        <dt class="col-sm-2">
            Créneau horaire de l'injection
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendrierHeureId)
        </dd>

        <dt class="col-sm-2">
            Numéro du membre du personnel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonnelId)
        </dd>

        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonnelName)
        </dd>*@

        <dt class="col-sm-2">
            Numéro du lot de vaccin
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LotVaccinId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Update", "Update", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
